body {
    color: black;
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}

h1{
    font-size: 3em;
}

p{
    font-size: 1.5em;
    font-weight: bold;
}