body {
    color: black;
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera {
    background: #33a;
    box-shadow: 0px 2px 50px 0px rgba(0,0,0,.5);
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: .5em
}

#cabecera > span {
    color: white;
    font-size: .5em;
    font-weight: bold;
    opacity: .75;
}

#container {
    width: 70%;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}


h1{
    font-size: 3em;
}

p{
    font-size: 1.5em;
}